.app-footer {
  background-color: var(--secondary-500);
  padding-block-start: 66px;
  padding-block-end: 64px;
  padding-inline: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h3 {
    font-size: 26px;
  }

  .contact-links {
    nav {
      display: flex;
      justify-content: center;
      gap: 24px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .address {
    margin-block-start: 24px;
    margin-block-end: 40px;
    display: flex;
    flex-direction: column;
    color: #a1a1a1;
  }
  .social-media {
    margin-block-end: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .copyrights {
    color: #a1a1a1;
  }
  @media (width > 767px) {
    padding-block: 56px;
    padding-inline: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    h3 {
      grid-column: 1;
      justify-self: start;
      align-self: start;
    }
    .address {
      grid-column: 2;
      grid-row: 1/3;
      justify-self: end;
      text-align: end;
    }
    .contact-links {
      grid-column: 1;
      grid-row: 2;
      justify-self: start;
      align-self: start;
      translate: 0 -30%;
    }
    .social-media {
      grid-column: 1;
      grid-row: 3;
      justify-self: start;
      align-self: end;
      & > * {
        translate: 0 30%;
      }
    }
    .copyrights {
      grid-column: 2;
      grid-row: 3;
      text-align: end;
    }
  }
  @media (width > 992px) {
    padding-block: 48px;
    padding-inline: 165px;
    grid-template-columns: 2.8fr 4.8fr 7fr;
    h3 {
      grid-column: 1;
      grid-row: 1;
      justify-self: start;
      align-self: start;
      text-align: start;
    }
    .address {
      grid-column: 2;
      grid-row: 1 / 3;
      justify-self: start;
      align-self: start;
      text-align: start;
    }
    .contact-links {
      grid-column: 1;
      grid-row: 2;
      translate: 0;
      justify-self: start;
      text-align: start;
      align-self: end;
    }
    .social-media {
      grid-column: 3;
      grid-row: 1;
      justify-self: end;
      text-align: start;
      align-self: start;
      translate: 0 100%;
    }
    .copyrights {
      grid-column: 3;
      grid-row: 2;
      justify-self: end;
      text-align: end;
      align-self: end;
    }
  }
}
