.home-page {
  .hero {
    height: 100dvh;
    .hero-title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-block-start: 80px;
      h2 {
        margin: 0;
      }
    }
    p {
      text-align: center;
      line-height: 2.5em;
    }
  }

  .summery {
    background-color: var(--secondary-400);
    padding-block: 64px;
    padding-inline: 24px;

    h2 {
      width: 300px;
    }
    .summery-card {
      text-align: center;
      p {
        font-size: 22px;
        line-height: 2em;
        font-weight: 600;
      }
    }
  }

  .reviews {
    background-color: var(--secondary-300);
    padding-block-start: 140px;
    padding-block-end: 164px;
    padding-inline: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      text-align: center;
      width: 470px;
    }
    .reviews-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-block-start: 38px;
      margin-block-end: 48px;

      img {
        margin-block-start: 16px;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        border: 3px solid white;
      }
    }
  }

  .cta {
    padding-block: 83px;
    padding-inline: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-200);
    color: var(--secondary-400);
    h2 {
      width: 300px;
      text-align: center;
    }
  }
}
