.home-page {
  .hero {
    height: 100dvh;
    .hero-title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-block-start: 80px;
      h2 {
        margin: 0;
      }
    }
    p {
      text-align: center;
      line-height: 2.5em;
    }
  }

  .summery {
    background-color: var(--secondary-400);
    padding-block: 64px;
    padding-inline: 24px;

    h2{
      width: 300px;
    }
    .summery-card{
      text-align: center;
      p{
        font-size: 22px;
        line-height: 2em;
        font-weight: 600;
      }
    }
  }
}
