:root {
  --white: #fff;
  --primary-100: #014E56;
  --primary-200: #F67E7E;
  --secondary-100: #79C8C7;
  --secondary-200: #2C6269;
  --secondary-300: #004047;
  --secondary-400: #012F34;
  --secondary-500: #002529;
}