.color-red-txt {
  color: var(--primary-200);
}

.color-teal-txt {
  color: var(--secondary-100);
}

.btn-outline-md {
  cursor: pointer;
  padding-inline: 32px;
  padding-block: 10px;
  border-radius: 1000px;
  background-color: transparent;
  color: var(--secondary-400);
  border: 3px solid var(--secondary-400);
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  transition: .3s ease;
  &:hover{
    background-color: var(--secondary-400);
    color: var(--white);
  }
}


h1.large {
  font: 700 48px/48px 'Livvic', sans-serif;
  @media (width > 767px) {
  }
  @media (width > 992px) {
    font: 700 100px/100px 'Livvic', sans-serif;
  }
}

h1.small {
  font: 700 64px/56px 'Livvic', sans-serif;
  @media (width > 767px) {
  }
  @media (width > 992px) {
  }
}

h2 {
  font: 700 32px/32px 'Livvic', sans-serif;
  @media (width > 767px) {
  }
  @media (width > 992px) {
    font: 700 48px/48px 'Livvic', sans-serif;
  }
}

h3 {
  font: 700 18px/28px 'Livvic', sans-serif;
  @media (width > 767px) {
  }
  @media (width > 992px) {
  }
}

.body-1 {
  font: 600 18px/28px 'Livvic', sans-serif;
  @media (width > 767px) {
  }
  @media (width > 992px) {
  }
}

.body-2 {
  font: 600 15px/25px 'Livvic', sans-serif;
  @media (width > 767px) {
  }
  @media (width > 992px) {
    font: 600 18px/28px 'Livvic', sans-serif;
  }
}
